.marai {
    position: absolute;
    top: 0;
    right: 0;
    width: 770px;
    height: auto;
}

img.obodi {
    position: absolute;
    width: 500px;
    height: auto;
}

.picture .cheat {
    position: absolute;
    top: 12%;
    left: 30%;
    margin: 0 auto;
    width: 500px;
    height: auto;
}
#текст{
    color:aqua;
    size: "+5";
}
#Immortaly{
    size: "+2";
    color: rgb(19, 9, 9);
}
#VideosFam{
    size: "+1";
}
#Salvatrychki{
    size: "+1";
    color: rgb(19, 9, 9);
}


