/*img.obodi {
    position: absolute;
    width: 500px;
    height: auto;
}

.picture .cheat {
    position: absolute;
    top: 12%;
    left: 30%;
    float: left;
    width: 500px;
    height: auto;
}
#text{
    color:aqua;
    size: "+5";
}*/
#salo{
    transform: scale(3);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 15px;
}
#text-imm{
    font-size: 2em;
    font-family: 'Times New Roman' ;
    font-size: 18px;
}

#immortaly{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
#mara-fot{
    border: 5px #1484ff solid;
    float: right;
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
    height: auto;
}
#video-fam{
    transform: scale(3);
    font-size: large;
}
