/*img.obodi {
    position: absolute;
    width: 500px;
    height: auto;
}

.picture .cheat {
    position: absolute;
    top: 12%;
    left: 30%;
    float: left;
    width: 500px;
    height: auto;
}
#text{
    color:aqua;
    size: "+5";
}*/
#salo{
    text-shadow: 5px 4px 3px #999;
    transform: scale(3);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 15px;
}
#text-imm{
    font-size: 2em;
    font-family: 'Times New Roman' ;
    font-size: 18px;
}

#immortaly{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
#mara-fot{
    border: 5px #1484ff solid;
    float: right;
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
    height: auto;
}
#video-fam{
    transform: scale(3);
    font-size: large;
}
ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li { 
    float: left;
}
ul.nav a {
    display: block;
    width: 7em;
    padding:10px;
    margin: 0 9px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}
#login-name{
    padding:7px;
}
#password-first{
    padding: 5px;
}